# IMPORT STATEMENTS

In [55]:
import pandas as pd
import numpy  as np

# 2017 - TOUR 1

In [56]:
df2017_1 = pd.read_excel("presidentielles/2017/1er_tour/Presidentielle_2017_Resultats_Communes_Tour_1.xls", skiprows=3)

In [57]:
print(df2017_1.shape)
df2017_1.head()

(35496, 95)

,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Inscrits,Abstentions,% Abs/Ins,Votants,% Vot/Ins,Blancs,...,Voix.9,% Voix/Ins.9,% Voix/Exp.9,N°Panneau.10,Sexe.10,Nom.10,Prénom.10,Voix.10,% Voix/Ins.10,% Voix/Exp.10
0,1,Ain,1,L'Abergement-Clémenciat,598,92,15.38,506,84.62,2,...,2,0.33,0.40,8,M,LASSALLE,Jean,2,0.33,0.40
1,1,Ain,2,L'Abergement-de-Varey,209,25,11.96,184,88.04,6,...,0,0.00,0.00,8,M,LASSALLE,Jean,0,0.00,0.00
2,1,Ain,4,Ambérieu-en-Bugey,8586,1962,22.85,6624,77.15,114,...,40,0.47,0.62,7,M,CHEMINADE,Jacques,5,0.06,0.08
3,1,Ain,5,Ambérieux-en-Dombes,1172,215,18.34,957,81.66,21,...,5,0.43,0.54,7,M,CHEMINADE,Jacques,0,0.00,0.00
4,1,Ain,6,Ambléon,99,20,20.20,79,79.80,2,...,0,0.00,0.00,10,M,ASSELINEAU,François,0,0.00,0.00

In [58]:
columns = ['Code du département', 'Code de la commune', 'Inscrits', '% Abs/Ins', '% Vot/Ins',
           '% Blancs/Ins', '% Blancs/Vot', '% Nuls/Ins', '% Nuls/Vot', '% Exp/Ins', '% Exp/Vot']
duplicatas = ['Sexe', 'Nom', 'Voix', '% Voix/Ins', '% Voix/Exp']
df = pd.DataFrame(columns=columns+duplicatas)
dfs = []
for i in range(1, 11):
    lst = columns + [f'{j}.{i}' for j in duplicatas]
    df = pd.DataFrame(columns=columns+duplicatas)
    df[columns + duplicatas] = df2017_1[lst]
    dfs.append(df)
df = pd.concat([df] + dfs)
df2017_1 = df
df2017_1['Tour'] = 0
print(df2017_1.shape)
df2017_1.head()

(390456, 17)

,Code du département,Code de la commune,Inscrits,% Abs/Ins,% Vot/Ins,% Blancs/Ins,% Blancs/Vot,% Nuls/Ins,% Nuls/Vot,% Exp/Ins,% Exp/Vot,Sexe,Nom,Voix,% Voix/Ins,% Voix/Exp,Tour
0,1,1,598,15.38,84.62,0.33,0.40,1.51,1.78,82.78,97.83,M,LASSALLE,2,0.33,0.40,0
1,1,2,209,11.96,88.04,2.87,3.26,0.96,1.09,84.21,95.65,M,LASSALLE,0,0.00,0.00,0
2,1,4,8586,22.85,77.15,1.33,1.72,0.68,0.88,75.15,97.40,M,CHEMINADE,5,0.06,0.08,0
3,1,5,1172,18.34,81.66,1.79,2.19,0.26,0.31,79.61,97.49,M,CHEMINADE,0,0.00,0.00,0
4,1,6,99,20.20,79.80,2.02,2.53,0.00,0.00,77.78,97.47,M,ASSELINEAU,0,0.00,0.00,0

# 2017 - TOUR 2

In [59]:
df2017_2 = pd.read_excel("presidentielles/2017/2em_tour/Presidentielle_2017_Resultats_Communes_Tour_2_c.xls", skiprows=3)

In [60]:
print(df2017_2.shape)
df2017_2.head()

(35719, 32)

,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Inscrits,Abstentions,% Abs/Ins,Votants,% Vot/Ins,Blancs,...,Voix,% Voix/Ins,% Voix/Exp,N°Panneau.1,Sexe.1,Nom.1,Prénom.1,Voix.1,% Voix/Ins.1,% Voix/Exp.1
0,1,Ain,1,L'Abergement-Clémenciat,598,100,16.72,498,83.28,37,...,272,45.48,60.04,2,F,LE PEN,Marine,181,30.27,39.96
1,1,Ain,2,L'Abergement-de-Varey,209,32,15.31,177,84.69,21,...,93,44.50,62.00,2,F,LE PEN,Marine,57,27.27,38.00
2,1,Ain,4,Ambérieu-en-Bugey,8586,2312,26.93,6274,73.07,601,...,3213,37.42,58.89,2,F,LE PEN,Marine,2243,26.12,41.11
3,1,Ain,5,Ambérieux-en-Dombes,1172,259,22.10,913,77.90,77,...,423,36.09,52.09,2,F,LE PEN,Marine,389,33.19,47.91
4,1,Ain,6,Ambléon,99,23,23.23,76,76.77,17,...,30,30.30,50.85,2,F,LE PEN,Marine,29,29.29,49.15

In [61]:
df = df2017_2[columns+duplicatas]
lst = columns + [f'{j}.1' for j in duplicatas]
df1 = pd.DataFrame(columns=columns+duplicatas)
df1[columns + duplicatas] = df2017_2[lst]
df = pd.concat([df, df1])
df2017_2 = df
df2017_2['Tour'] = 1
print(df2017_2.shape)
df2017_2.head()

(71438, 17)

,Code du département,Code de la commune,Inscrits,% Abs/Ins,% Vot/Ins,% Blancs/Ins,% Blancs/Vot,% Nuls/Ins,% Nuls/Vot,% Exp/Ins,% Exp/Vot,Sexe,Nom,Voix,% Voix/Ins,% Voix/Exp,Tour
0,1,1,598,16.72,83.28,6.19,7.43,1.34,1.61,75.75,90.96,M,MACRON,272,45.48,60.04,1
1,1,2,209,15.31,84.69,10.05,11.86,2.87,3.39,71.77,84.75,M,MACRON,93,44.50,62.00,1
2,1,4,8586,26.93,73.07,7.00,9.58,2.53,3.46,63.55,86.96,M,MACRON,3213,37.42,58.89,1
3,1,5,1172,22.10,77.90,6.57,8.43,2.05,2.63,69.28,88.94,M,MACRON,423,36.09,52.09,1
4,1,6,99,23.23,76.77,17.17,22.37,0.00,0.00,59.60,77.63,M,MACRON,30,30.30,50.85,1

# 2017 - 2 TOURS

In [62]:
df2017 = pd.concat([df2017_1, df2017_2])
print(df2017.shape)
df2017.head()

(461894, 17)

,Code du département,Code de la commune,Inscrits,% Abs/Ins,% Vot/Ins,% Blancs/Ins,% Blancs/Vot,% Nuls/Ins,% Nuls/Vot,% Exp/Ins,% Exp/Vot,Sexe,Nom,Voix,% Voix/Ins,% Voix/Exp,Tour
0,1,1,598,15.38,84.62,0.33,0.40,1.51,1.78,82.78,97.83,M,LASSALLE,2,0.33,0.40,0
1,1,2,209,11.96,88.04,2.87,3.26,0.96,1.09,84.21,95.65,M,LASSALLE,0,0.00,0.00,0
2,1,4,8586,22.85,77.15,1.33,1.72,0.68,0.88,75.15,97.40,M,CHEMINADE,5,0.06,0.08,0
3,1,5,1172,18.34,81.66,1.79,2.19,0.26,0.31,79.61,97.49,M,CHEMINADE,0,0.00,0.00,0
4,1,6,99,20.20,79.80,2.02,2.53,0.00,0.00,77.78,97.47,M,ASSELINEAU,0,0.00,0.00,0

# 2022 - TOUR 1

In [63]:
df2022_1 = pd.read_excel("presidentielles/2022/1er_tour/resultats-par-niveau-subcom-t1-france-entiere.xlsx")

In [64]:
print(df2022_1.shape)
df2022_1.head()

(35245, 103)

,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Etat saisie,Inscrits,Abstentions,% Abs/Ins,Votants,% Vot/Ins,...,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98,Unnamed: 99,Unnamed: 100,Unnamed: 101,Unnamed: 102
0,01,Ain,1,L'Abergement-Clémenciat,Complet,645,108,16.74,537,83.26,...,3,0.47,0.58,12,M,DUPONT-AIGNAN,Nicolas,21,3.26,4.04
1,01,Ain,2,L'Abergement-de-Varey,Complet,213,38,17.84,175,82.16,...,3,1.41,1.75,12,M,DUPONT-AIGNAN,Nicolas,0,0.00,0.00
2,01,Ain,4,Ambérieu-en-Bugey,Complet,8765,2078,23.71,6687,76.29,...,43,0.49,0.66,12,M,DUPONT-AIGNAN,Nicolas,181,2.07,2.76
3,01,Ain,5,Ambérieux-en-Dombes,Complet,1282,234,18.25,1048,81.75,...,2,0.16,0.19,12,M,DUPONT-AIGNAN,Nicolas,27,2.11,2.63
4,01,Ain,6,Ambléon,Complet,103,23,22.33,80,77.67,...,0,0.00,0.00,12,M,DUPONT-AIGNAN,Nicolas,1,0.97,1.30

In [65]:
rename_dict = {}
duplicatas = ['N°Panneau', 'Sexe', 'Nom', 'Prénom', 'Voix', '% Voix/Ins', '% Voix/Exp']
for i, col_name in enumerate(df2022_1.columns[df2022_1.columns.str.contains('^Unnamed')].values):
    index = i % len(duplicatas)
    new_col_name = duplicatas[index] + f'.{((i + len(duplicatas)) // len(duplicatas))}'
    rename_dict[col_name] = new_col_name

df2022_1.rename(columns=rename_dict, inplace=True)
df2022_1.head()

,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Etat saisie,Inscrits,Abstentions,% Abs/Ins,Votants,% Vot/Ins,...,Voix.10,% Voix/Ins.10,% Voix/Exp.10,N°Panneau.11,Sexe.11,Nom.11,Prénom.11,Voix.11,% Voix/Ins.11,% Voix/Exp.11
0,01,Ain,1,L'Abergement-Clémenciat,Complet,645,108,16.74,537,83.26,...,3,0.47,0.58,12,M,DUPONT-AIGNAN,Nicolas,21,3.26,4.04
1,01,Ain,2,L'Abergement-de-Varey,Complet,213,38,17.84,175,82.16,...,3,1.41,1.75,12,M,DUPONT-AIGNAN,Nicolas,0,0.00,0.00
2,01,Ain,4,Ambérieu-en-Bugey,Complet,8765,2078,23.71,6687,76.29,...,43,0.49,0.66,12,M,DUPONT-AIGNAN,Nicolas,181,2.07,2.76
3,01,Ain,5,Ambérieux-en-Dombes,Complet,1282,234,18.25,1048,81.75,...,2,0.16,0.19,12,M,DUPONT-AIGNAN,Nicolas,27,2.11,2.63
4,01,Ain,6,Ambléon,Complet,103,23,22.33,80,77.67,...,0,0.00,0.00,12,M,DUPONT-AIGNAN,Nicolas,1,0.97,1.30

In [66]:
duplicatas = ['Sexe', 'Nom', 'Voix', '% Voix/Ins', '% Voix/Exp']
df = pd.DataFrame(columns=columns+duplicatas)
dfs = []
for i in range(1, 12):
    lst = columns + [f'{j}.{i}' for j in duplicatas]
    df = pd.DataFrame(columns=columns+duplicatas)
    df[columns + duplicatas] = df2022_1[lst]
    dfs.append(df)
df = pd.concat([df] + dfs)
df2022_1 = df
df2022_1['Tour'] = 0
print(df2022_1.shape)
df2022_1.head()

(422940, 17)

,Code du département,Code de la commune,Inscrits,% Abs/Ins,% Vot/Ins,% Blancs/Ins,% Blancs/Vot,% Nuls/Ins,% Nuls/Vot,% Exp/Ins,% Exp/Vot,Sexe,Nom,Voix,% Voix/Ins,% Voix/Exp,Tour
0,01,1,645,16.74,83.26,2.48,2.98,0.16,0.19,80.62,96.83,M,DUPONT-AIGNAN,21,3.26,4.04,0
1,01,2,213,17.84,82.16,1.41,1.71,0.47,0.57,80.28,97.71,M,DUPONT-AIGNAN,0,0.00,0.00,0
2,01,4,8765,23.71,76.29,1.00,1.32,0.52,0.69,74.76,98.00,M,DUPONT-AIGNAN,181,2.07,2.76,0
3,01,5,1282,18.25,81.75,1.09,1.34,0.47,0.57,80.19,98.09,M,DUPONT-AIGNAN,27,2.11,2.63,0
4,01,6,103,22.33,77.67,2.91,3.75,0.00,0.00,74.76,96.25,M,DUPONT-AIGNAN,1,0.97,1.30,0

# 2022 - TOUR 2

In [67]:
df2022_2 = pd.read_excel("presidentielles/2022/2em_tour/resultats-par-niveau-subcom-t2-france-entiere.xlsx")

In [68]:
print(df2022_2.shape)
df2022_2.head()

(35245, 33)

,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Etat saisie,Inscrits,Abstentions,% Abs/Ins,Votants,% Vot/Ins,...,Voix,% Voix/Ins,% Voix/Exp,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,01,Ain,1,L'Abergement-Clémenciat,Complet,643,146,22.71,497,77.29,...,237,36.86,52.67,2,F,LE PEN,Marine,213,33.13,47.33
1,01,Ain,2,L'Abergement-de-Varey,Complet,213,45,21.13,168,78.87,...,94,44.13,66.20,2,F,LE PEN,Marine,48,22.54,33.80
2,01,Ain,4,Ambérieu-en-Bugey,Complet,8763,2448,27.94,6315,72.06,...,3080,35.15,54.14,2,F,LE PEN,Marine,2609,29.77,45.86
3,01,Ain,5,Ambérieux-en-Dombes,Complet,1282,266,20.75,1016,79.25,...,451,35.18,47.27,2,F,LE PEN,Marine,503,39.24,52.73
4,01,Ain,6,Ambléon,Complet,103,19,18.45,84,81.55,...,45,43.69,62.50,2,F,LE PEN,Marine,27,26.21,37.50

In [69]:
rename_dict = {}
duplicatas = ['N°Panneau', 'Sexe', 'Nom', 'Prénom', 'Voix', '% Voix/Ins', '% Voix/Exp']
for i, col_name in enumerate(df2022_2.columns[df2022_2.columns.str.contains('^Unnamed')].values):
    index = i % len(duplicatas)
    new_col_name = duplicatas[index] + f'.{((i + len(duplicatas)) // len(duplicatas))}'
    rename_dict[col_name] = new_col_name

df2022_2.rename(columns=rename_dict, inplace=True)
df2022_2.head()

,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Etat saisie,Inscrits,Abstentions,% Abs/Ins,Votants,% Vot/Ins,...,Voix,% Voix/Ins,% Voix/Exp,N°Panneau.1,Sexe.1,Nom.1,Prénom.1,Voix.1,% Voix/Ins.1,% Voix/Exp.1
0,01,Ain,1,L'Abergement-Clémenciat,Complet,643,146,22.71,497,77.29,...,237,36.86,52.67,2,F,LE PEN,Marine,213,33.13,47.33
1,01,Ain,2,L'Abergement-de-Varey,Complet,213,45,21.13,168,78.87,...,94,44.13,66.20,2,F,LE PEN,Marine,48,22.54,33.80
2,01,Ain,4,Ambérieu-en-Bugey,Complet,8763,2448,27.94,6315,72.06,...,3080,35.15,54.14,2,F,LE PEN,Marine,2609,29.77,45.86
3,01,Ain,5,Ambérieux-en-Dombes,Complet,1282,266,20.75,1016,79.25,...,451,35.18,47.27,2,F,LE PEN,Marine,503,39.24,52.73
4,01,Ain,6,Ambléon,Complet,103,19,18.45,84,81.55,...,45,43.69,62.50,2,F,LE PEN,Marine,27,26.21,37.50

In [70]:
duplicatas = ['Sexe', 'Nom', 'Voix', '% Voix/Ins', '% Voix/Exp']
df = df2022_2[columns+duplicatas]
lst = columns + [f'{j}.1' for j in duplicatas]
df1 = pd.DataFrame(columns=columns+duplicatas)
df1[columns + duplicatas] = df2022_2[lst]
df = pd.concat([df, df1])
df2022_2 = df
df2022_2['Tour'] = 1
print(df2022_2.shape)
df2022_2.head()

(70490, 17)

,Code du département,Code de la commune,Inscrits,% Abs/Ins,% Vot/Ins,% Blancs/Ins,% Blancs/Vot,% Nuls/Ins,% Nuls/Vot,% Exp/Ins,% Exp/Vot,Sexe,Nom,Voix,% Voix/Ins,% Voix/Exp,Tour
0,01,1,643,22.71,77.29,6.53,8.45,0.78,1.01,69.98,90.54,M,MACRON,237,36.86,52.67,1
1,01,2,213,21.13,78.87,10.80,13.69,1.41,1.79,66.67,84.52,M,MACRON,94,44.13,66.20,1
2,01,4,8763,27.94,72.06,5.26,7.30,1.88,2.61,64.92,90.09,M,MACRON,3080,35.15,54.14,1
3,01,5,1282,20.75,79.25,3.67,4.63,1.17,1.48,74.41,93.90,M,MACRON,451,35.18,47.27,1
4,01,6,103,18.45,81.55,11.65,14.29,0.00,0.00,69.90,85.71,M,MACRON,45,43.69,62.50,1

# 2022 - 2 TOURS

In [71]:
df2022 = pd.concat([df2022_1, df2022_2])
print(df2022.shape)
df2022.head()

(493430, 17)

,Code du département,Code de la commune,Inscrits,% Abs/Ins,% Vot/Ins,% Blancs/Ins,% Blancs/Vot,% Nuls/Ins,% Nuls/Vot,% Exp/Ins,% Exp/Vot,Sexe,Nom,Voix,% Voix/Ins,% Voix/Exp,Tour
0,01,1,645,16.74,83.26,2.48,2.98,0.16,0.19,80.62,96.83,M,DUPONT-AIGNAN,21,3.26,4.04,0
1,01,2,213,17.84,82.16,1.41,1.71,0.47,0.57,80.28,97.71,M,DUPONT-AIGNAN,0,0.00,0.00,0
2,01,4,8765,23.71,76.29,1.00,1.32,0.52,0.69,74.76,98.00,M,DUPONT-AIGNAN,181,2.07,2.76,0
3,01,5,1282,18.25,81.75,1.09,1.34,0.47,0.57,80.19,98.09,M,DUPONT-AIGNAN,27,2.11,2.63,0
4,01,6,103,22.33,77.67,2.91,3.75,0.00,0.00,74.76,96.25,M,DUPONT-AIGNAN,1,0.97,1.30,0

# 2022 & 2017

In [72]:
df2017['Annee'] = 2017
df2022['Annee'] = 2022
df = pd.concat([df2017, df2022])
print(df.shape)
df.head()

(955324, 18)

,Code du département,Code de la commune,Inscrits,% Abs/Ins,% Vot/Ins,% Blancs/Ins,% Blancs/Vot,% Nuls/Ins,% Nuls/Vot,% Exp/Ins,% Exp/Vot,Sexe,Nom,Voix,% Voix/Ins,% Voix/Exp,Tour,Annee
0,1,1,598,15.38,84.62,0.33,0.40,1.51,1.78,82.78,97.83,M,LASSALLE,2,0.33,0.40,0,2017
1,1,2,209,11.96,88.04,2.87,3.26,0.96,1.09,84.21,95.65,M,LASSALLE,0,0.00,0.00,0,2017
2,1,4,8586,22.85,77.15,1.33,1.72,0.68,0.88,75.15,97.40,M,CHEMINADE,5,0.06,0.08,0,2017
3,1,5,1172,18.34,81.66,1.79,2.19,0.26,0.31,79.61,97.49,M,CHEMINADE,0,0.00,0.00,0,2017
4,1,6,99,20.20,79.80,2.02,2.53,0.00,0.00,77.78,97.47,M,ASSELINEAU,0,0.00,0.00,0,2017

# CRIMINALITÉ

In [74]:
criminalite = pd.read_excel('criminalité/info-complements-data.gouv-2022-geographie2022-produit-le2023-02-09.xlsx')

In [76]:
print(criminalite.shape)
criminalite.head()

(35000, 19)

,CODGEO,Nom.de.la.commune,Code.département,Code.région,Code.arrondissement,Code.canton,Code.EPCI,Nature.EPCI,ZE2020,UU2020,TUU2017,TDUU2017,UUSTATUT2017,AAV2020,TAAV2017,TDAAV2017,CATEAAV2020,BV2012,Typo.degré.densité
0,01001,L'Abergement-Clémenciat,01,84,012,0108,200069193,communauté de communes,8405,01000,Commune hors unité urbaine,Commune hors unité urbaine,Hors unité urbaine,524,Aire de moins de 50 000 habitants,Aire de moins de 10 000 habitants,Commune de la couronne,01093,Rural à habitat dispersé
1,01002,L'Abergement-de-Varey,01,84,011,0101,240100883,communauté de communes,8405,01000,Commune hors unité urbaine,Commune hors unité urbaine,Hors unité urbaine,000,Commune hors attraction des villes,Commune hors attraction des villes,Commune hors attraction des pôles,01004,Rural à habitat dispersé
2,01004,Ambérieu-en-Bugey,01,84,011,0101,240100883,communauté de communes,8405,01303,Commune appartenant à une unité urbaine de 10 ...,Commune appartenant à une unité urbaine de 15 ...,Centre,243,Aire de moins de 50 000 habitants,Aire de 30 000 à moins de 50 000 habitants,Commune-centre,01004,Centres urbains intermédiaires
3,01005,Ambérieux-en-Dombes,01,84,012,0122,200042497,communauté de communes,8434,01000,Commune hors unité urbaine,Commune hors unité urbaine,Hors unité urbaine,002,Aire de 700 000 habitants ou plus (hors Paris),Aire de 1 000 000 d'habitants ou plus (hors Pa...,Commune de la couronne,69123,Bourgs ruraux
4,01006,Ambléon,01,84,011,0104,200040350,communauté de communes,8404,01000,Commune hors unité urbaine,Commune hors unité urbaine,Hors unité urbaine,286,Aire de moins de 50 000 habitants,Aire de 20 000 à moins de 30 000 habitants,Commune de la couronne,01034,Rural à habitat dispersé

# DÉLINQUANCE